:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --font-color-inverted: #e1e1ff;
  --bg-color: #fff;
  --bg-color-inverted: #161625;
  --heading-color: #292922;
  --surface-color: #f4f4f0;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --font-color-inverted: #424242;
  --bg-color: #1c1c39fb;
  --bg-color-inverted: #ffffffe6;
  --heading-color: #818cab;
  --surface-color: #536390;
}